<div [ngClass]="['card m-1']">
  <div [ngClass]="['card-body p-1 m-1']">
    <div [ngClass]="['row']">

      <div [ngClass]="['col-sm-2 col-md-2']">
        <img [src]='comment.user.profilePictureUrl' [ngClass]="['img img-rounded thumb36 img-fluid']" />
      </div>
      <div [ngClass]="['col-sm-10 col-md-10']">
        <p>
          <a [ngClass]="['float-left']" href=""><strong>{{comment.user.name}}</strong></a>
        </p>
        <div [ngClass]="['clearfix']"></div>
      </div>
      <div [ngClass]="['col-sm-12 col-md-12']">
        <p [ngClass]="['small']">{{comment.text}}</p>
      </div>
      <div [ngClass]="['col-md-12']">
        <p [ngClass]="['date text-left m-1 text-muted']">Commented on: {{comment.date}}</p>
      </div>
    </div>
  </div>
</div>