.card {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
  border-radius: 4px;
  margin-bottom: 16px;
  margin-right: 10px;
  margin-left: 10px;
}
.thumb26 {
  width: 2em!important;
  height: 2em!important;
}
.result:hover {
  cursor: pointer;
  border-color:blue;
}
.date {
  font-weight: 100;
  font-size: 2.5mm;
}
