@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* Styling h1 and links
––––––––––––––––––––––––––––––––– */
h1[alt="Simple"] {color: white;}
a[href], a[href]:hover {color: grey; font-size: 0.5em; text-decoration: none}



.starrating > input {display: none;}  /* Remove radio buttons */
.starratingButton > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 1.5em;
  font-family: FontAwesome;
  display: inline-block; 
}

.starratingButton > label:before { 
    content: "\f005"; /* Star */
    margin: 2px;
    font-size: 1.5em;
    font-family: FontAwesome;
    display: inline-block; 
  }

.starrating > label
{
  color: coral; /* Start color when not clicked */
  
}

.rateButton{
    content: "\f005";
    color: #ffca08 ;
    font-family: FontAwesome;
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

