/* You can add global styles to this file, and also import other style files */
body {

    padding-top: 4.5rem;    
    /* min-height: 50rem; */
    /* background-color: #FFFAFA */
    background-color: #FFFAFA !important;
}

  .tooltip-custom.ui-tooltip .ui-tooltip-text {
    font-weight: 100;
    font-size: 2.5mm;
}

.comments-panel.ui-panel .ui-panel-titlebar {
    background: #cce5ff;
}

.ng-invalid.form-control  {
    border-left: 5px solid red; /* green */
}
.ng-valid.form-control  {
    border-left: 5px solid green; /* green */
}