@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/* You can add global styles to this file, and also import other style files */
body {
    padding-top: 4.5rem;    
    /* min-height: 50rem; */
    /* background-color: #FFFAFA */
    background-color: #e6e6e6 !important;
}
.form-control-autocomplete-sm {
    width: 100% !important
}
.form-control-autocomplete-sm > span > input {
    height: calc(1.8125rem + 2px);
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    border: 1px solid #ced4da;
    
}
/* start - hack to fix issue with dropdown caret position */
.form-control-autocomplete-sm .ui-inputtext {
    float: left;
    
}
.form-control-autocomplete-sm .ui-autocomplete-dropdown {
    float: right;    
    height: calc(1.8125rem + 2px) !important;
    transform: translateY(-100%);    
}

/* end -  hack to fix issue with dropdown caret position */

p-autocomplete.ng-dirty.ng-invalid > .ui-autocomplete > .ui-inputtext {
    border: 1px solid #ced4da !important;
}

.ng-invalid.form-control-autocomplete-sm > span > input {
    border-left: 4px solid red;
    border-radius: 0.35rem;
}
.ng-valid.form-control-autocomplete-sm > span > input {
    border-left: 4px solid green;
    border-radius: 0.35rem;
}
.form-control-autocomplete{
    width: 100% !important;
}
.ng-invalid.form-control-autocomplete{
    border-left: 5px solid red;
}
.ng-valid.form-control-autocomplete{
    border-left: 5px solid green;
}
.tooltip-custom.ui-tooltip .ui-tooltip-text {
    font-weight: 100;
    font-size: 2.5mm;
}
.chip-width > ul {
    width: 100% !important;
 }
.comments-panel.ui-panel .ui-panel-titlebar {
    background: #cce5ff;
}

.ng-invalid.form-control  {
    border-left: 5px solid red;
    border-radius: 0.33rem;
}
.ng-valid.form-control  {
    border-left: 5px solid green;
    border-radius: 0.33rem;
}

.ng-invalid.form-control-dropdown  {
    border-left: 5px solid red;
}
.ng-invalid.form-control-sm-dropdown  {
    border-left: 4px solid red;
}
.ng-valid.form-control-sm-dropdown  {
    border-left: 4px solid green;
}
.ng-valid.form-control-dropdown  {
    border-left: 5px solid green;
}
.form-control-dropdown{
    display: block;
    width: 99%;
    height: calc(2.25rem + 2px);
    /* padding: .375rem .75rem; */
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    /* border: 1px solid #ced4da; */
    /* border-radius: 0.25rem; */
    border-radius: 0.38rem;
    transition: border-color .15s;
}
.form-control-sm-dropdown{
    /* height: calc(1.8125rem + 2px); */
    /* padding: .25rem .5rem; */
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .33rem;
    display: block;
    width: 99%;    
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s;
}
.dynamic-form-control {
    background: papayawhip !important;
}


